In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [8]:
url='https://raw.githubusercontent.com/imamanmehrotra/Datasets/main/income2_kmeans.csv'

In [9]:
df=pd.read_csv(url)
print(df.shape)
df.head()

(200, 5)

   CustomerID   Genre  Age  Annual Income  Spending_Score
0           1    Male   19             15              39
1           2    Male   21             15              81
2           3  Female   20             16               6
3           4  Female   23             16              77
4           5  Female   31             17              40

In [21]:
from sklearn.cluster import DBSCAN
import  matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px
from collections import Counter

ModuleNotFoundError: No module named 'plotly'

In [12]:
X=df[['Annual Income','Spending_Score']]

In [14]:
dbs=DBSCAN(eps=8,min_samples=4, metric='euclidean') #Denotes the epsilon value(radius value for the cluster) and the Minimum Points.
model=dbs.fit(df[['Annual Income','Spending_Score']])
y_pred=model.labels_
y_pred

array([ 2,  0,  1,  0,  2,  0,  1, -1,  1,  0,  1, -1,  1,  0,  1,  0,  2,
        0,  2, -1,  2,  0,  1,  0, -1,  0,  2, -1,  2,  0,  1,  0, -1,  0,
       -1,  0, -1,  0,  3,  0,  3, -1,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  4,  3,  4,  3,  4,  5,  4,  5,  4,  3,  4,  5,  4,
        5,  4,  5,  4,  5,  4,  3,  4,  5,  4,  3,  4,  5,  4,  5,  4,  5,
        4,  5,  4,  5,  4,  5,  4,  3,  4,  5,  4,  5,  4,  5,  4,  5,  4,
        5,  4,  5,  4,  5,  4,  5,  4,  5,  4, -1,  4,  5,  4, -1, -1,  6,
       -1,  6,  4,  6, -1, -1, -1, -1, -1, -1, -1, -1, -1], dtype=int64)

In [19]:
df['Cluster_Number']=y_pred

df['Cluster_Number'].replace(-1,'Outlier', inplace=True)

In [20]:
print('There are',len(df['Cluster_Number'].unique()),'different Clusters and their Counts are mentioned and shown below \n')
print(Counter(df['Cluster_Number']))
px.histogram(df['Cluster_Number'],color=df.Cluster_Number)

There are 8 different Clusters and their Counts are mentioned and shown below

Counter({3: 89, 4: 32, 5: 23, 'Outlier': 22, 0: 16, 1: 8, 2: 7, 6: 3})

NameError: name 'px' is not defined

In [ ]:
px.scatter(data_frame=df,x='Annual Income',y='Spending_Score', color='Cluster_Number)